:root {
    --cor-primaria: #e99313;
    --cor-secundaria: #699200;
    --cor-terciaria: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    
    background-color: var(--cor-primaria);
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: center;
}
header ul {
    display: flex;
    gap: 20px;
}

h1 {
    color: var(--cor-terciaria);
    font-weight: 700;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1.2em;
    font-weight: 900;
}

a:hover {
    color: var(--cor-secundaria);
    border-bottom: 5px solid var(--cor-secundaria);
}

ul, li {
    list-style:none;
    clear: both;
}

.sobre-loja {
    display: flex;
    gap: 20px;
    padding: 40px 0;
}

.sobre-loja img {
    width: 40%;
}

h2 {
    color: var(--cor-primaria);
    font-style: italic;
    padding: 15px 0;
    margin-bottom: 45px;
    border-bottom: 5px solid var(--cor-primaria);
}

p {
    text-align: justify;
    padding-bottom: 15px;
}

.produtos {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1%;
    margin-bottom: 15px;
}

.produto {
    margin: 20px 0 ;
}

.produto img {
    width: 250px;
    height: 250px;
}

.produto h3 {
    padding: 10px 0;
}

.produto p {
    font-size: 0.8em;
}

.produto .valor {
    font-size: 1em;
    font-weight: 400;
}

button {
    width: 100%;
    background-color: var(--cor-primaria);
    border: var(--cor-primaria);
    padding: 8px 0;
    color: var(--cor-terciaria);
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);
}

footer p {
    color: var(--cor-terciaria);
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

@media screen and  (min-width: 768px) and (max-width: 1023px) {

    header .container {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }

    .sobre-loja,
    .produtos,
    h2 {
        margin: 40px 20px;
        padding: 0;
    }

    .sobre-loja img {
        max-width: 50%;
        height: auto;
        object-fit: contain;
        object-fit: cover
    }

    .produtos {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 1%;
        margin-bottom: 15px;
    }

    .produtos img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    bottom {
       
    }

}

@media screen and (max-width: 767px) {

    .sobre-loja {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      
    }

    .sobre-loja img {
        width: 80%;
    }

    .sobre-loja,
    .produtos,
    #produtos h2 {
        margin: 40px 20px;
        padding: 0;
    }
    
    nav {
        display: none;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    .produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px
    }

    .produto {
        width: 49%;
        height: auto;
        object-fit: contain;
    }

    .produto img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 540px) {
    .produto {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}